# 实习二：数据库约束设计

成员：蔡鑫豪2100013113 马啸宇2100013083 章毅2100013107

In [1]:
%load_ext sql

In [2]:
import pymysql 
pymysql.install_as_MySQLdb()
%sql mysql://stu2100013113:stu2100013113@162.105.146.37:53306

In [3]:
%sql use stu2100013113;

 * mysql://stu2100013113:***@162.105.146.37:53306
0 rows affected.

[]

# 基本约束设计

In [4]:
%%sql
set @@foreign_key_checks=0;
drop table if exists Emp;
CREATE TABLE Emp (
    eno INT AUTO_INCREMENT PRIMARY KEY,
    ename VARCHAR(50),
    birthday DATE,
    level INT DEFAULT 3 CHECK (level >= 1 AND level <= 5),
    position ENUM('教师', '教务', '会计', '秘书'),
    salary DECIMAL(10, 2) CHECK (salary >= 2000 AND salary <= 200000)
);

drop table if exists Dept;
CREATE TABLE Dept (
    dno INT AUTO_INCREMENT PRIMARY KEY,
    dname ENUM('数学学院', '计算机学院', '智能学院', '电子学院', '元培学院'),
    budget DECIMAL(10, 2),
    manager INT,
    FOREIGN KEY (manager) REFERENCES Emp(eno)
);

ALTER TABLE Emp
ADD COLUMN dno INT,
ADD FOREIGN KEY (dno) REFERENCES Dept(dno);
set @@foreign_key_checks=1;

 * mysql://stu2100013113:***@162.105.146.37:53306
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.

[]

In [ ]:
%%sql
###测试插入数据
SELECT ROW_COUNT();
INSERT INTO Emp(ename, birthday, level, position, salary) VALUES ('张三', '1980-01-01', 3, '教师', 15000);
INSERT INTO Dept(dname, budget, manager) VALUES ('元培学院', 100000, 0001);

UPDATE Emp
SET dno = 1
WHERE eno = 1;

INSERT INTO Emp(ename, birthday, level, position, salary, dno) VALUES ('李四', '1985-05-05', 4, '教务', 8000, 1);
INSERT INTO Emp(ename, birthday, level, position, salary, dno) VALUES ('王五', '1990-10-10', 2, '秘书', 3000, 1);

In [ ]:
%sql select * from Emp

In [ ]:
%sql select * from Dept