In [1]:
%load_ext sql

In [2]:
import pymysql 
pymysql.install_as_MySQLdb()
%sql mysql://stu2100013083:stu2100013083@162.105.146.37:43306

In [3]:
%sql use stu2100013083;

 * mysql://stu2100013083:***@162.105.146.37:43306
0 rows affected.

[]

è¿™ä¸ªçº¦æŸè®¾è®¡æ˜¯ç”¨æ¥ç»´æŠ¤å…³ç³»æ¨¡å¼ä¸Šçš„å‡½æ•°ä¾èµ–çš„ã€‚
å…ˆå‡å®šè¡¨ğ‘†ğ‘‡ğ¶(ğ‘ ğ‘›ğ‘œ,ğ‘¡ğ‘›ğ‘œ,ğ‘ğ‘›ğ‘œ)ä¸Šæˆç«‹å‡½æ•°ä¾èµ–ğ‘¡ğ‘›ğ‘œâ†’ğ‘ğ‘›ğ‘œå’Œ(ğ‘ ğ‘›ğ‘œ,ğ‘ğ‘›ğ‘œ)â†’ğ‘¡ğ‘›ğ‘œï¼Œ å®ƒæ˜¯æ»¡è¶³3ğ‘ğ¹çš„ï¼›
ğµğ¶ğ‘ğ¹è®¾è®¡åˆ™ä¼šæŠŠğ‘†ğ‘‡ğ¶(ğ‘ ğ‘›ğ‘œ,ğ‘¡ğ‘›ğ‘œ,ğ‘ğ‘›ğ‘œ)åˆ†è§£ä¸ºğ‘†ğ¶(ğ‘ ğ‘›ğ‘œ,ğ‘ğ‘›ğ‘œ)å’Œğ‘‡ğ¶(ğ‘¡ğ‘›ğ‘œ,ğ‘ğ‘›ğ‘œ)ï¼Œè¿™æ—¶åªéœ€è¦ç»´æŠ¤ğ‘‡ğ¶ä¸Šçš„ğ‘¡ğ‘›ğ‘œâ†’ğ‘ğ‘›ğ‘œã€‚

In [5]:
%%sql
# å»ºè¡¨
CREATE TABLE IF NOT EXISTS STC
(
    sno INT,
    tno INT,
    cno INT,
    PRIMARY KEY (sno, tno, cno)
);
CREATE TABLE IF NOT EXISTS TC
(
    tno INT,
    cno INT,
    PRIMARY KEY (tno, cno)
);
CREATE TABLE IF NOT EXISTS SC
(
    sno INT,
    cno INT,
    PRIMARY KEY (sno, cno)
);

 * mysql://stu2100013083:***@162.105.146.37:43306
0 rows affected.
0 rows affected.
0 rows affected.

[]

1ã€æ•°æ®å‡†å¤‡ã€‚è®¾ç½®ğ‘ ğ‘›ğ‘œ,ğ‘¡ğ‘›ğ‘œ, ğ‘ğ‘›ğ‘œçš„å–å€¼èŒƒå›´åˆ†åˆ«æ˜¯ï¼Œ1-10000ï¼Œ1-1000ï¼Œ1-100ï¼Œäº§ç”Ÿéšæœºè¡Œï¼Œæ’å…¥åˆ°ä¸€ä¸ªä¸´æ—¶è¡¨ğ‘¡ğ‘šğ‘ğ‘†ğ‘‡ğ¶ ï¼Œå»é‡åä¿è¯æ•°æ®æœ‰è‡³å°‘100000è¡Œ

In [6]:
import pandas as pd
import numpy as np

# ç”Ÿæˆéšæœºæ•°æ®
data = {
    'sno': np.random.randint(1, 10001, size=120000),
    'tno': np.random.randint(1, 1001, size=120000),
    'cno': np.random.randint(1, 101, size=120000)
}
tmpSTC = pd.DataFrame(data)
# å»é‡
tmpSTC = tmpSTC.drop_duplicates()
tmpSTC.shape[0]

119990

2ã€ä½¿ç”¨è§¦å‘å™¨æ¥å®ç°ğ‘†ğ‘‡ğ¶ä»¥åŠğ‘‡ğ¶ä¸Šçš„è¿™ä¸‰ä¸ªå‡½æ•°ä¾èµ–

In [7]:
%%sql
CREATE TRIGGER Check_STC_Before_Insert
BEFORE INSERT ON STC
FOR EACH ROW
BEGIN
    # æ£€æŸ¥æŸå­¦ç”Ÿé€‰å®šä¸€é—¨è¯¾ï¼Œå°±å¯¹åº”ä¸€ä½è€å¸ˆçš„æ¡ä»¶ (sno, cno) â†’ tno
    IF EXISTS
    (
        SELECT 1 
        FROM STC 
        WHERE sno = NEW.sno AND cno = NEW.cno AND tno != NEW.tno
    )
    THEN
#         SET NEW.sno = NULL;  #è®¾ç½®ä¸º NULL ä¹‹åå¤„ç†
        SIGNAL SQLSTATE '45000' SET MESSAGE_TEXT = 'A student cannot have more than one teacher for the same course.';
    END IF;
    
    # æ£€æŸ¥æ¯ä½è€å¸ˆåªæ•™æˆä¸€é—¨è¯¾çš„æ¡ä»¶ (tno â†’ cno)
    IF EXISTS
    (
        SELECT 1 
        FROM STC 
        WHERE tno = NEW.tno AND cno != NEW.cno
    )
    THEN
#         SET NEW.sno = NULL;  #è®¾ç½®ä¸º NULL ä¹‹åå¤„ç†
        SIGNAL SQLSTATE '45000' SET MESSAGE_TEXT = 'A teacher cannot teach more than one course.';
    END IF;
END;

 * mysql://stu2100013083:***@162.105.146.37:43306
0 rows affected.

[]

ç®€å•æµ‹è¯•ä¸€ä¸‹è§¦å‘å™¨çš„åŠŸèƒ½

In [11]:
# å‡è®¾ sno å’Œ tno å’Œ cno çš„ç»„åˆæ˜¯æ–°çš„ï¼Œä¸è¿åè§„åˆ™
%sql INSERT INTO STC (sno, tno, cno) VALUES (10001, 1001, 101);
%sql INSERT INTO STC (sno, tno, cno) VALUES (10002, 1002, 102);

# æ’å…¥ä¸€äº›ä¸è¿åè§„åˆ™çš„è®°å½•
%sql INSERT INTO STC (sno, tno, cno) VALUES (10001, 1002, 102);
%sql INSERT INTO STC (sno, tno, cno) VALUES (10002, 1001, 101);

 * mysql://stu2100013083:***@162.105.146.37:43306
1 rows affected.
 * mysql://stu2100013083:***@162.105.146.37:43306
1 rows affected.
 * mysql://stu2100013083:***@162.105.146.37:43306
1 rows affected.
 * mysql://stu2100013083:***@162.105.146.37:43306
1 rows affected.

[]

In [12]:
# ç°åœ¨å°è¯•æ’å…¥ä¸€ä¸ªè¿åè§„åˆ™çš„è®°å½•ï¼ŒåŒä¸€ä¸ª sno,cno ä½†ä¸åŒçš„ tno
%sql INSERT INTO STC (sno, tno, cno) VALUES (10001, 1003, 101);

# ç°åœ¨å°è¯•æ’å…¥ä¸€ä¸ªè¿åè§„åˆ™çš„è®°å½•ï¼ŒåŒä¸€ä¸ª tno ä½†ä¸åŒçš„ cno
%sql INSERT INTO STC (sno, tno, cno) VALUES (10001, 1001, 103);

 * mysql://stu2100013083:***@162.105.146.37:43306
(pymysql.err.OperationalError) (1644, 'A student cannot have more than one teacher for the same course.')
[SQL: INSERT INTO STC (sno, tno, cno) VALUES (10001, 1003, 101);]
(Background on this error at: https://sqlalche.me/e/20/e3q8)
 * mysql://stu2100013083:***@162.105.146.37:43306
(pymysql.err.OperationalError) (1644, 'A teacher cannot teach more than one course.')
[SQL: INSERT INTO STC (sno, tno, cno) VALUES (10001, 1001, 103);]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [13]:
%sql SELECT * FROM STC;

 * mysql://stu2100013083:***@162.105.146.37:43306
4 rows affected.

[(10001, 1001, 101),
 (10001, 1002, 102),
 (10002, 1001, 101),
 (10002, 1002, 102)]

In [19]:
%%sql
TRUNCATE TABLE STC;
TRUNCATE TABLE TC;
TRUNCATE TABLE SC;

 * mysql://stu2100013083:***@162.105.146.37:43306
0 rows affected.
0 rows affected.
0 rows affected.

[]

3ã€æŠŠğ‘¡ğ‘šğ‘ğ‘†ğ‘‡ğ¶ä¸­æ•°æ®å¯¼å…¥åˆ°è¡¨ğ‘†ğ‘‡ğ¶ä»¥åŠğ‘†ğ¶å’Œğ‘‡ğ¶ä¸­

In [20]:
# æ’å…¥æ•°æ®åˆ°æ•°æ®åº“
db = pymysql.connect(host='162.105.146.37',user='stu2100013083', password='stu2100013083', port=43306, db="stu2100013083")
cursor = db.cursor()

for index, row in tmpSTC.iterrows():
    try:
        sql='INSERT INTO STC(sno,tno,cno) VALUES (%s,%s,%s);'
        cursor.execute(sql,(int(row['sno']), int(row['tno']), int(row['cno'])))
        db.commit()
    except:
        db.rollback()

In [25]:
%%sql
INSERT INTO SC (sno, cno)
SELECT DISTINCT sno, cno
FROM STC
ON DUPLICATE KEY UPDATE sno = VALUES(sno), cno = VALUES(cno);

INSERT INTO TC (tno, cno)
SELECT DISTINCT tno, cno
FROM STC
ON DUPLICATE KEY UPDATE tno = VALUES(tno), cno = VALUES(cno);

 * mysql://stu2100013083:***@162.105.146.37:43306
2155 rows affected.
1000 rows affected.

[]

4ã€æŸ¥çœ‹å„è¡¨æ‰€åŒ…å«çš„è¡Œæ•°ï¼Œç»Ÿè®¡(ğ‘¡ğ‘›ğ‘œ,ğ‘ğ‘›ğ‘œ)çš„å†—ä½™ï¼Œä½œä¸º3NFä¸ºç»´æŠ¤å‡½æ•°ä¾èµ–æ‰€ä»˜å‡ºçš„ä»£ä»·

In [26]:
%sql select count(*) from STC

 * mysql://stu2100013083:***@162.105.146.37:43306
1 rows affected.

[(2155,)]

In [27]:
%sql select count(*) from SC

 * mysql://stu2100013083:***@162.105.146.37:43306
1 rows affected.

[(2155,)]

In [28]:
%sql select count(*) from TC

 * mysql://stu2100013083:***@162.105.146.37:43306
1 rows affected.

[(1000,)]

æ¸…ç©ºè¡¨é¡¹ï¼Œåˆ é™¤è§¦å‘å™¨å’Œè¡¨

In [29]:
%sql DELETE FROM STC
%sql DELETE FROM TC
%sql DELETE FROM SC
%sql DROP TRIGGER `Check_STC_Before_Insert`;
%sql DROP TABLE STC
%sql DROP TABLE TC
%sql DROP TABLE SC

 * mysql://stu2100013083:***@162.105.146.37:43306
2155 rows affected.
 * mysql://stu2100013083:***@162.105.146.37:43306
1000 rows affected.
 * mysql://stu2100013083:***@162.105.146.37:43306
2155 rows affected.
 * mysql://stu2100013083:***@162.105.146.37:43306
0 rows affected.
 * mysql://stu2100013083:***@162.105.146.37:43306
0 rows affected.
 * mysql://stu2100013083:***@162.105.146.37:43306
0 rows affected.
 * mysql://stu2100013083:***@162.105.146.37:43306
0 rows affected.

[]